<template>
	<div>
		<div :id="chartId"></div>
	</div>
</template>

<script>
	import * as d3 from 'd3/build/d3.js'

	export default {
		props: [
			'chartId', 
			'labels',
			'values',
			'colors',
			'chartWidth',
			'chartHeight'
		],
		data () {
			return {
				resWidth: this.chartWidth,
				resHeight: this.chartHeight,
				duration: 700,
				xAxisLeft: 25
			}
		},
		computed: {
			chartData () {
				return this.values.map((item, i) => {
					return {
						label: this.labels[i],
						value: this.values[i],
						color: this.colors[i]						
					}
				})
			}
		},
		methods: {
			renderChart () {
				let self = this

				var margin = {
					top: 0, 
					right: 0, 
					bottom: 100, 
					left: this.xAxisLeft
				}
				let width = this.resWidth - margin.left - margin.right
    			let height = this.resHeight - margin.top - margin.bottom

				var x = d3.scaleBand()
				    .rangeRound([0, width], 0)
					.paddingInner(0);

				var y = d3.scaleLinear()
				    .range([height, 0]);

				var xAxis = d3.axisBottom()
				    .scale(x)
				    .tickSizeInner(0)

				var yAxis = d3.axisLeft()
				    .scale(y)
				    .ticks(10, '%')

				let svg = d3.select('#' + this.chartId).append('svg')
				    .attr("width", width + margin.left + margin.right)
				    .attr("height", height + margin.top + margin.bottom)
					.append("g")
						.attr("transform", "translate(0, 0)")


				let max = parseInt(d3.max(this.values))
				max = max + (max * .2)

			 	x.domain(this.labels);
				y.domain([0, max])

				svg.append("g")
					.attr("class", "x axis")
					.attr("transform", "translate(" + (this.xAxisLeft + 4) + "," + height + ")")
					.call(xAxis)
					.selectAll("text")  
						.attr('height', margin.bottom)
			            .style("text-anchor", "end")
			            .attr("dx", "-.8em")
			            .attr("dy", ".15em")
			            .attr("transform", "rotate(-45)" );

				let svgTarget = svg.append("g")
					.attr("class", "bars")
					.attr("transform", "translate(" + this.xAxisLeft + ", 0)")
					.selectAll(".bar")
					.data(this.chartData)
					.enter()

				svgTarget.append("rect")
					.attr("class", "bar")
					.attr("x", (d) => x(d.label))
					.attr("width", x.bandwidth())
					.attr("y", height)
					.attr("height", 0)
					.attr('fill', (d, i) => d.color)
					.transition()
			            .duration(this.duration)
			            .ease(d3.easeSin)
			            .attr("height", (d) => height - y(d.value))
						.attr("y", (d) => y(d.value))

				svgTarget.append('text')
					.attr('class', 'bar-chart__top-label')
					.attr("width", x.bandwidth())
					.attr("y", (d) => y(d.value) - 10)
					.attr("height", 20)
					.attr('text-anchor', 'middle')
					.text((d) => d.value + '%')
					.attr('font-size', 12)
					.attr('font-family', this.$store.state.fontFamily)
					.attr('fill', (d) => d.color)
					.attr("x", (d, e) => {
						return x(d.label) + (x.bandwidth() / 2)
					})
					.style('opacity', 0)
					.transition()
						.delay(this.duration)
						.duration(this.duration / 2)
			            .ease(d3.easeSin)
						.style('opacity', 1)

					d3.selectAll('path.domain').remove()
			}
		},
		mounted () {
			let target = document.getElementById(this.chartId)
			target.innerHTML = ''
			if (this.chartWidth > target.clientWidth) {
				this.resWidth = target.clientWidth
				this.resHeight = (target.clientWidth * this.chartHeight) / this.chartWidth
			} else {
				this.resWidth = this.chartWidth
				this.resHeight = this.chartHeight
			}
			this.renderChart()
		}
	}
</script>

<style lang="sass">
//
	path.domain
		display: none
	.x.axis line
		display: none
</style>