<template>
 	<div class="chart columns">
    	<div class="column is-half has-text-centered">
			<h3 class="chart-title">Years of Experience</h3>
      		<bar-chart 
      		class="chart-wrapper" 
      		:chartId="'chart-years'" 
      		:chartWidth="280" 
      		:chartHeight="350"
      		:labels="yearsLabels"
      		:values="yearsDataset"
      		:colors="colors"></bar-chart>
    	</div>
    	<div class="column is-half has-text-centered">
    		<h3 class="chart-title">Education Level</h3>
      		<bar-chart 
      		class="chart-wrapper" 
      		:chartId="'chart-education'" 
      		:chartWidth="280" 
      		:chartHeight="350"
      		:labels="educationLabels"
      		:values="educationDataset"
      		:colors="colors"></bar-chart>    	
      	</div>
  	</div>
</template>

<script>
import BarChart from './Barchart.vue'

export default {
	components: {
		'bar-chart': BarChart
	},
  	props: [
    	'entry'
  	],
  	data () {
    	return {
			chartYears: false,
			chartEducation: false,
			yearsLabels: ["0 to 2", "3 to 5", "5 to 10", "11 to 20", "20+"],
			educationLabels: ["High School", "Vocational", "Bachelors", "Masters", "Doctorate", "Unknown"],
			colors: [
		        '#ffb100',
		        '#008040',
		        '#cd29c0',
		        '#551a8b',
		        '#99ccff',
		        '#2164f3'
      		],
      		isLoaded: false
    	}
  	},
  	computed: {
  		yearsDataset () {
  			return [
  				parseFloat(this.entry['% of Candidates with 0-2 Years Work Experience (%)']).toFixed(1),
				parseFloat(this.entry['% of Candidates with 3-5 Years Work Experience (%)']).toFixed(1),
				parseFloat(this.entry['% of Candidates with 3-5 Years Work Experience (%)']).toFixed(1),
				parseFloat(this.entry['% of Candidates with 11-20 Years Work Experience (%)']).toFixed(1),
				parseFloat(this.entry['% of Candidates with 20+ Years Work Experience (%)']).toFixed(1)
			]
		},
  		educationDataset () {
  			return [
  				parseFloat(this.entry['% of Candidates with Max Degree High School (%)']).toFixed(1),
				parseFloat(this.entry['% of Candidates with Max Degree Vocational / Associates (%)']).toFixed(1),
				parseFloat(this.entry['% of Candidates with Max Degree Bachelors (%)']).toFixed(1),
				parseFloat(this.entry['% of Candidates with Max Degree Masters (%)']).toFixed(1),
				parseFloat(this.entry['% of Candidates with Max Degree Doctorate (%)']).toFixed(1),
				parseFloat(this.entry['% of Candidates with Max Degree Unknown (%)']).toFixed(1),
			]
		}
  	},
	methods: {
		renderCharts () {
			
		},
  	},
  	mounted () {
    	this.isLoaded = true
  	},
  	destroyed () {
  	}
}
</script>

<style lang="sass">
.chart-title
	margin-bottom: 40px

.chart-wrapper
	display: block

</style>
