<template>
 	<div class="chart">
 		<div class="columns has-text-centered">
			<div class="column is-half">
				<h3><span class="overall-block-blue"></span> Employer CPJ</h3>
			</div>
			<div class="column is-half">
				<h3><span class="overall-block-orange"></span> Top Quartile CPJ</h3>
			</div>
		</div>
		<div class="columns">
	    	<div class="column is-full">
	      		<canvas class="chart-canvas" id="canvas-overall" width="600" height="300"></canvas>
	    	</div>			
		</div>
  	</div>
</template>

<script>
import Chart from 'chart.js'

export default {
  	props: [
    	'entry'
  	],
  	data () {
    	return {
			chart: false,
			averageFields: [
				"Administrative Average clicks/job",
				"Business staff and professional Average clicks/job",
				"Design / Creative Average clicks/job",
				"Education Average clicks/job",
				"Labor Average clicks/job",
				"Management Average clicks/job",
				"Medical Average clicks/job",
				"Sales and Marketing Average clicks/job",
				"Service Average clicks/job",
				"STEM Average clicks/job",
				"Transportation Average clicks/job",
				"Uncategorized Average clicks/job",
				"CPC"
			],
			topFields: [
				"Administrative Top Quartile Clicks",
				"Business staff and professional Top Quartile Clicks",
				"Design / Creative Top Quartile Clicks",
				"Education Top Quartile Clicks",
				"Labor Top Quartile Clicks",
				"Management Top Quartile Clicks",
				"Medical Top Quartile Clicks",
				"Sales and Marketing Top Quartile Clicks",
				"Service Top Quartile Clicks",
				"STEM Top Quartile Clicks",
				"Transportation Top Quartile Clicks",
				"Uncategorized Top Quartile Clicks",
				"CPA"
			],
			labels: [
				"Administrative",
				"Business staff and professional",
				"Design / Creative",
				"Education",
				"Labor",
				"Management",
				"Medical",
				"Sales and Marketing",
				"Service",
				"STEM",
				"Transportation",
				"Uncategorized",
				"CPA"
			],
			colors: [
		        '#2164f3',
		        '#ff6600'
      		],
      		isLoaded: false,
      		averageDataset: [],
      		topDataset: [],
      		labelsDataset: []
    	}
  	},
  	methods: {
	    renderCharts (entry) {
	    	let self = this
	    	// max scale for both charts
	    	let max = Math.ceil(parseFloat(Array.concat(this.averageDataset, this.topDataset).reduce((previous, val, i) => (val >= previous || i == 0) ? val : previous))) + 0.5

	    	this.chart = new Chart('canvas-overall', {
	    		type: 'bar',
	    		data: {
	    			labels: this.labelsDataset.slice(0),
	    			datasets: [
			    		{
							label: 'Average',
							borderWidth: 0,
							backgroundColor: this.colors[0],
							data: this.averageDataset.slice(0)
			    		},
			    		{
							label: 'Top Quartile',
							borderWidth: 0,
							backgroundColor: this.colors[1],
							data: this.topDataset.slice(0)
			    		}
	    			]
	    		},
	    		options: {
		    		responsive: true,
	    			legend: {
	    				display: false
	    			},
	    			scales: {
	    			  	yAxes: [
		    			  	{
		    			  		display: false,
		    			  		ticks: {
				    			    min: 0, 
				    			    max: max
		    			  		},
			    			    gridLines: {
					                display: false
					            }
		    			  	}
		    			],
	    			  	xAxes: [
		    			  	{
		    			  		display: true,
		    			  		gridLines: {
		    			  			display: false
		    			  		},
		    			  		ticks: {
		    			  			autoSkip: false
		    			  		}
		    			  	}
	    			  	]
	    			},
	    			animation: {
	    				duration: this.$route.name == 'pdf-print' ? 0 : 1000,
	    				onProgress () {
		    				let ctx = this.chart.ctx;
					        ctx.font = ctx.font.replace('Neue', 'Neue Bold')
					        ctx.textAlign = "center"
					        ctx.textBaseline = "bottom"
					        for (let x in this.config.data.datasets) {
					        	let dataset = this.config.data.datasets[x]
				        		dataset._meta[Object.keys(dataset._meta)[0]].data.forEach((data, i) => {
				            		let percent = (x == 0) ? self.averageDataset[i] : self.topDataset[i]
				            		if (percent > 0) {
					            		ctx.fillStyle = data._view.backgroundColor
					                	ctx.fillText(percent, data._view.x, data._view.y - 10)
					                }
				                })
					        }
		    			},
		    			onAnimationComplete () {
	    					let parent = document.getElementById('chart').setAttribute('rendered', 'true')
		    			}
		    		}
	    		}
	    	})
	    },
  	},
  	mounted () {
  		if (this.chart !== false)
  			this.chart.destroy()

  		this.topDataset = []
  		this.averageDataset = []
  		this.labelsDataset = []

  		let max = this.averageFields.length > this.topFields.length ? this.averageFields.length : this.topFields.length

  		for (let i = 0; i < max; i++) {
  			let aveField = !isNaN(parseFloat(this.entry[this.averageFields[i]])) ? parseFloat(this.entry[this.averageFields[i]]).toFixed(2) : 0
  			let topField = !isNaN(parseFloat(this.entry[this.topFields[i]])) ? parseFloat(this.entry[this.topFields[i]]).toFixed(2) : 0
  			if (aveField > 0 || topField > 0) {
  				this.topDataset.push(aveField)
  				this.averageDataset.push(topField)
  				this.labelsDataset.push(this.labels[i])
  			}
  		}

    	this.renderCharts(this.entry)
    	this.isLoaded = true
  	},
  	destroyed () {
  		this.chart.destroy()
  	}
}
</script>

<style lang="sass">
@import "~styles/variables.sass"  

.chart-title
	margin-bottom: 40px

.overall-block-blue, .overall-block-orange
	display: inline-block
	margin-right: 5px
	width: 15px
	height: 15px

.overall-block-blue
	background-color: $primary-blue

.overall-block-orange
	background-color: $primary-orange

canvas#canvas-overall
	margin-left: -40px

</style>
