<template>
	<div class="chart">
		<div class="chart-wrap">
		  	<canvas id="chart-canvas" width="100%" height="60%"></canvas>
		</div>
	</div>
</template>

<script>
import Chart from 'chart.js'

export default {
  	props: [
	    'entry'
  	],
  	data () {
	    return {
    		chart: false,
      		moduleData: {},
			colors: [
	        	'#ffb100',
	        	'#008040',
	        	'#cd29c0',
	        	'#551a8b',
	        	'#99ccff',
	        	'#2164f3'
      		]
   		}
  	},
  	computed: {
		terms () {
      		let keys = Object.keys(this.entry).filter((key) => key.match(/^Job\dTerm\d$/))
      		let self = this
      		return keys.map((key) => {
        		return {
          			key: key,
          			value: self.properCase(self.entry[key])
        		}
      		})
    	},
    	jobs () {
      		let self = this
      		return Object.keys(this.entry).filter((key) => key.match(/^Job\dName$/)).map((key) => {
        		return {
          			key: key,
			        value: self.entry[key],
          			number: key.substring(3, 4),
          			label: key.substring(0, 3) + ' ' + key.substring(3, 4),
          			clicks: self.getJobClicks(key.substring(3, 4))
        		}
      		})
    	}
  	},
  	methods: {
    	getChart (entry) {
      		let self = this
      		this.chart = new Chart('chart-canvas', {
        		type: 'bar',
        		data: this.getChartData(entry),
        		options: {
          			legendCallback (chart) {
            			return ''
          			},
          			legend: {
        				position: 'bottom'
          			},
	          		responsive: true,
	          		maintainAspectRatio: true,
	          		scales: {
	            		yAxes: [
	            		{
	              			ticks: {
	                			min: 0,
	                			max: 100,
	                			callback (value) {
	                  				return value + '%'
	                			}
	              			},
	              			scaleLabel: {
	                			display: true,
	                			labelString: 'Percentage'
	              			}
	            		}],
	            		xAxes: [
	            		{
	              			gridLines: {
	                			color: 'transparent'
	              			}
	            		}]
	          		},
	          		tooltips: {
	            		callbacks: {
	              			title (item, data) {
	                			return self.jobs[parseInt(self.terms[item[0].datasetIndex].key.substring(3, 4)) - 1].value + '\n'
	              			},
	              			label (item, data) {
	                			return data.datasets[item.datasetIndex].label + ': ' + item.yLabel + '%'
	              			}
	            		}
	          		}
	        	}
	      	})
	    },

	    getChartData () {
	      	let self = this
	      	let data = {
	        	labels: this.jobs.map((job, i) => job.label),
	        	datasets: this.terms.map((term, i) => {
	          		return {
	            		label: term.value,
	            		backgroundColor: self.colors[i % 5],
	            		fillColor: self.colors[i % 5],
	            		strokeColor: self.colors[i + 5],
	            		data: this.jobs.map((job, x) => (term.key.substring(0, 4) === 'Job' + job.number) ? self.getTermClickPercentage(job, self.entry[term.key + 'Clicks']) : 0)
	          		}
	        	})
	      	}
	      	return data
	    },

	    getJobClicks (jobNumber) {
	      	let total = 0
	      	let regex = new RegExp('^Job' + jobNumber + 'Term\\dClicks$', 'g')
	      	// get all 'clicks' fields for all the terms of this job.
	      	for (let key in this.entry) {
	        	if (key.match(regex)) {
	          		total += parseInt(this.entry[key])
	        	}
	      	}
	      	return total
	    },

		getTermClickPercentage (job, clicks) {
			return Math.floor((clicks * 100) / job.clicks)
		},

	    properCase (str) {
	    	return str.replace(/\w\S*/g, (txt) => txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase())
	    }
 	},
	mounted () {
		this.getChart(this.entry)
	},
	destroyed () {
		this.chart.destroy()
	}
}
</script>

<style></style>
