<template>
 	<div class="chart">
 		<div class="columns">
	    	<div class="column is-third has-text-centered align-center"
	    		v-for="chart in chartData">
				<h3 class="chart-title">{{ chart.title }}</h3>
	    	</div> 			
 		</div>
 		<div class="columns">
	    	<div class="column chart__column is-third has-text-centered"
	    	:style="{
	    		height: '400px',
	    		'margin-left': '-20px',
	    		width: chartWidth + 'px'
	    	}"
	    		v-for="(chart, i) in chartData">
	    		<bar-chart 
		    	v-if="shouldLoad"
	    		class="chart-wrapper" 
	    		:chartId="'chart-' + (i + 1)" 
	    		:chartWidth="chartWidth" 
	    		:chartHeight="400"
	    		:labels="chart.labels"
	    		:values="chart.data"
	    		:colors="colors"></bar-chart>
	    	</div> 			
 		</div>
  	</div>
</template>

<script>
import BarChart from './Barchart.vue'
import leftPad from 'left-pad'

export default {
	components: {
		'bar-chart': BarChart
	},
  	props: [
    	'entry'
  	],
  	data () { 
    	return {
    		chartData: this.loadChartData(),
    		shouldLoad: false,
			colors: [
		        '#99ccff',
		        '#551a8b',
		        '#cd29c0',
		        '#008040',
		        '#ffb100'
      		],
      		isLoaded: false,
      		chartWidth: 0
    	}
  	},
	methods: {
		loadChartData () {
			let jobs = []
			let self = this

			for (let i = 1; i <= 3; i++) {
				jobs.push({
					title: self.entry['Job' + i + 'Name'],
					labels: Array.from(Array(5)).map((item, x) => self.entry['Job' + i + 'Term' + (x + 1)]),
					data: Array.from(Array(5)).map((item, x) => parseInt(self.entry['Job' + i + 'Term' + (x + 1) + 'Clicks']))
				})
			}
			return jobs;
		}
  	},
  	mounted () {
  		this.chartWidth = Math.min(document.querySelector('.chart__column').clientWidth, 300)
    	this.shouldLoad = true
  	},
  	destroyed () {

  	} 
}
</script>

<style lang="sass">
.chart-title
	margin-bottom: 0px

.align-center
	display: flex
	align-items: center
</style>
