<template>
 	<div class="chart columns response-rate">
    	<div class="column is-half border-right">
    		<div class="columns">
    			<div class="column is-5 big total">{{ totalContacts }}</div>
    			<div class="column is-7"><h3>Your Total<br> Contacts</h3></div>
    		</div>
    		<div class="columns">
    			<div class="column is-5 big top-recruiter">{{ topRecruiter }}</div>
    			<div class="column is-7"><h3>Contacts by Your<br/> Top Recruiter</h3></div>
    		</div>
    		<div class="columns">
    			<div class="column is-5 big previous-year">{{ previousYear }}%</div>
    			<div class="column is-7"><h3>Change from<br/> Previous Year</h3></div>
    		</div>
    	</div>
    	<div class="column is-half">
    		<div class="columns">
    			<div class="column is-half has-text-centered">
    				<h3>Your<br/> Response Rate</h3>
    				<canvas class="chart-canvas" id="canvas-your-rate" width="100%" height="150"></canvas>
    			</div>
    			<div class="column is-half has-text-centered">
    				<h3>Top Performer<br/>
    				Response Rate</h3>
    				<canvas class="chart-canvas" id="chart-top-rate" width="100%" height="150"></canvas>
    			</div>
    		</div>
    	</div>
  	</div>
</template>

<script>
import Chart from 'chart.js'

export default {
  	props: [
    	'entry'
  	],
  	data () {
    	return {
    		barWidth: 60, 
    		totalContacts: this.entry['Total Contacts'],
    		topRecruiter: this.entry['Top recruiter contacts'],
    		previousYear: this.entry['Change from last quarter / year'],
    		yourResponseRate: parseInt(this.entry['Your response rate']),
    		topPerformerResponseRate: parseInt(this.entry['Top quartile response rate']),
    		chartYourRate: false,
    		chartTopRate: false
    	}
  	},
	methods: {
	    renderCharts (entry) {
	    	let self = this
	    	// max scale for both charts
	    	let max = ((this.yourResponseRate > this.topPerformerResponseRate) ? this.yourResponseRate : this.topPerformerResponseRate) + 20

	    	this.chartYourRate = new Chart('canvas-your-rate', {
	    		type: 'bar',
	    		data: {
	    			labels: [''],
	    			datasets: [
			    		{
							label: 'Percentage',
							borderWidth: 0,
							backgroundColor: ['#551a8b'],
							data: [this.yourResponseRate]
			    		}
	    			]
	    		},
	    		options: {
	    			tooltips: {
	    				enabled: false
	    			},
		    		maintainAspectRatio: true,
		    		responsive: false,
	    			legend: {
	    				display: false
	    			},
	    			scales: {
	    			  	yAxes: [
		    			  	{
		    			  		display: false,
		    			  		ticks: {
				    			    min: 0, 
				    			    max: max
		    			  		},
			    			    gridLines: {
					                display: false
					            }
		    			  	}
		    			],
	    			  	xAxes: [
		    			  	{
		    			  		display: false,
		    			  		categoryPercentage: 1,
		    			  		barThickness: this.barWidth,
		    			  		gridLines: {
		    			  			display: false
		    			  		},
		    			  	}
	    			  	]
	    			},
	    			animation: {
	    				duration: this.$route.name == 'pdf-print' ? 0 : 1000,
	    				onProgress () {
		    				let ctx = this.chart.ctx;
					        ctx.font = ctx.font.replace('Neue', 'Neue Bold')
					        ctx.textAlign = "center"
					        ctx.textBaseline = "bottom"
					        let metaKey = Object.keys(this.config.data.datasets[0]._meta)[0]
				        	this.config.data.datasets[0]._meta[metaKey].data.forEach(function (data, i) {
				            	ctx.fillStyle = data._view.backgroundColor
				                ctx.fillText(self.yourResponseRate + '%', data._view.x, data._view.y - 10)
					        })
		    			},
		    			onAnimationComplete () {
	    					let parent = document.getElementById('canvas-your-rate').setAttribute('rendered', 'true')
		    			}
		    		},
	    		}
	    	})

	    	this.chartTopRate = new Chart('chart-top-rate', {
	    		type: 'bar',
	    		data: {
	    			labels: [''],
	    			datasets: [
			    		{
							label: 'Percentage',
							borderWidth: 0,
							backgroundColor: ['#99ccff'],
							data: [this.topPerformerResponseRate]
			    		}
	    			]
	    		},
	    		options: {
	    			tooltips: {
	    				enabled: false
	    			},
		    		maintainAspectRatio: true,
		    		responsive: false,
	    			legend: {
	    				display: false
	    			},
	    			scales: {
	    			  	yAxes: [
		    			  	{
		    			  		display: false,
		    			  		ticks: {
				    			    min: 0, 
				    			    max: max
		    			  		},
			    			    gridLines: {
					                display: false
					            }
		    			  	}
		    			],
	    			  	xAxes: [
		    			  	{
		    			  		display: false,
		    			  		categoryPercentage: 1,
		    			  		barThickness: this.barWidth,
		    			  		gridLines: {
		    			  			display: false
		    			  		},
		    			  	}
	    			  	]
	    			},
	    			animation: {
	    				duration: this.$route.name == 'pdf-print' ? 0 : 1000,
	    				onProgress () {
		    				let ctx = this.chart.ctx;
					        ctx.font = ctx.font.replace('Neue', 'Neue Bold')
					        ctx.textAlign = "center"
					        ctx.textBaseline = "bottom"
					        let metaKey = Object.keys(this.config.data.datasets[0]._meta)[0]
				        	this.config.data.datasets[0]._meta[metaKey].data.forEach(function (data, i) {
				            	ctx.fillStyle = data._view.backgroundColor
				                ctx.fillText(self.topPerformerResponseRate + '%', data._view.x, data._view.y - 10)
					        })
		    			},
		    			onAnimationComplete () {
	    					let parent = document.getElementById('chart-top-rate').setAttribute('rendered', 'true')
		    			}
		    		}
	    		}
	    	})
	    },
  	},
  	mounted () {
  		if (this.chartYourRate !== false)
  			this.chartYourRate.destroy()
  		if (this.chartTopRate !== false)
  			this.chartTopRate.destroy()

    	this.renderCharts(this.entry)
    	this.isLoaded = true
  	},
  	destroyed () {
  		this.chartYourRate.destroy()
  		this.chartTopRate.destroy()
  	}
}
</script>

<style lang="sass">
@import "~styles/variables.sass" 

.response-rate
	display: flex
	align-items: flex-start
	.big
		text-align: center
		font-size: 36px
		line-height: 36px
		font-family: $family-primary-bold
		&.total
			color: $secondary-yellow
		&.top-recruiter
			color: $secondary-green
		&.previous-year
			color: $secondary-violet

	h3
		color: $primary-gray-light

	.border-right
		border-right: solid 1px $primary-gray-lighter

	.chart-canvas
		margin: 0 auto

</style>
