<template>
<div class="company">
	<div class="wrapper wrapper--lighter">
		<app-header
		:show-back="true"
		:company-route="{
			to: 'company',
			params: {
				id: this.$route.params.id
			}
		}"
		:company-name="entry.Source">
		</app-header>
		<div class="container bg-map">
			<section class="columns">
				<div class="column is-2">
					<left-bar></left-bar>
				</div>
				<div class="column is-3 is-offset-1 content-top">
					<h3 class="title is-4 company__subtitle">
						Resumes
						<span class="icon icon--document"></span>
					</h3>
					<router-link
					class="company-button"
					:to="{
						name: 'module',
						params: {
							id: companyId,
							moduleType: 'performance'
						}
					}">
						<span class="company-button__number">1</span>
						<span class="company-button__name">Performance for<br/> Top Jobs</span>
					</router-link>
					<router-link
					class="company-button"
					:to="{
						name: 'module',
						params: {
							id: companyId,
							moduleType: 'response-rate'
							}
						}">
						<span class="company-button__number">3</span>
						<span class="company-button__name">Response<br/> Rate</span>
					</router-link>

				</div>
				<div class="column is-3  content-top"> 
					<h3 class="title is-4 company__subtitle">
						Content Strategy
						<span class="icon icon--pencil"></span>
					</h3>
					<router-link
					class="company-button"
					:to="{
						name: 'module',
						params: {
							id: companyId,
							moduleType: 'overall'
						}
					}">
						<span class="company-button__number">2</span>
						<span class="company-button__name">Overall<br/> Performance</span>
					</router-link>
					<router-link
					class="company-button"
					:to="{
						name: 'module',
						params: {
							id: companyId,
							moduleType: 'experience-education'
						}
					}">
						<span class="company-button__number">4</span>
						<span class="company-button__name">Experience<br/> & Education</span>
					</router-link>
				</div>
				<div class="column is-2 is-offset-1">
					<right-bar></right-bar>
				</div>
			</section>
		</div>
	</div>
</div>
</template>

<script>
import Header from './Header.vue'
import { triggerMap } from '../Utils'
import LeftBar from './LeftBar.vue'
import RightBar from './RightBar.vue'

export default {
  	name: 'Company',
  	components: {
		'app-header': Header,
		'left-bar': LeftBar,
		'right-bar': RightBar
	},
  	data () {
		return {
		  companyId: this.$route.params.id,
		  entry: {},
		  currentChart: false
		}
  	},
  	mounted () {
		this.entry = this.$store.state.entries[this.$route.params.id]
		triggerMap(document.querySelector('.company .container.bg-map'))
  	}
}
</script>

<style></style>
