<template>
 	<div class="dropdown" :class="{ toggled: toggled }">
    	<div 
    	class="dropdown-current"
    	@click="toggle">
    		{{ (current !== false) ? current.text : '' }}
    		<span class="dropdown-arrow"></span>
    	</div>
		<ul 
		v-if="options.length > 0 && toggled"
		class="dropdown-options">
			<li
			v-for="option in options"
			@click="select (option)"
			:class="{ selected: current == option }">
				{{ option.text }}
			</li>
		</ul>
	</div>
</template>

<script>
export default {
	data () {
		return {
			current: false,
			toggled: false
		}
	},
	props: ['initial', 'options'],
	methods: {
		toggle (val) {
			this.toggled = (val === true || val === false) ? val : !this.toggled
		},
		select (option) {
			this.current = option
			this.toggle(false)
			this.$emit('input', option.value)
		}
	},
	mounted () {
		for (let i in this.options) {
			if (this.options[i].value == this.initial) {
				this.current = this.options[i]
				this.select(this.options[i])
			}
		}
	}
}
</script>

<style></style>