<template>
	<header class="header">
		<div class="container">
	    	<div class="columns align-center">
	      		<div class="column is-4 is-offset-2">
	          		<router-link 
  		        	:to="{
  		          		name: 'home'
  		        	}">
		          		<img class="header-logo" src="~images/logo.png" alt=""> 
		        	 </router-link>
	      		</div>
        		<div v-if="$route.name == 'home'"
          		class="column is-offset-1 is-3 has-text-right">
            		<form action="" class="search-box">
              			<p class="control has-icon has-icon-right">
                			<input
                			type="text"
                			class="input"
                			placeholder="Search"
                			v-model="searchTerm" />
                			<span class="icon is-small">
                  				<i class="fa fa-search"></i>
                			</span>
              			</p>
            		</form>
        		</div>
	      		<div v-else
          		class="column is-4 has-text-right">
          			<router-link
      					v-if="companyRoute !== false"
      					class="header-company"
      					:to="companyRoute">
			            <h2>{{ companyName }}</h2>
          			</router-link>
	      		</div>
        		<div class="column is-2 is-hidden">
          			<button
      				  v-if="showBack === true"
          			class="button is-primary header-back"
          			@click="back()">
            			Back
          			</button>
        		</div>
      		</div>
	    </div>
	</header>
</template>

<script>
import { mapState } from 'vuex'

export default {
    name: 'Header',
    props: [
		'companyRoute',
		'companyName',
		'showBack'
    ],
    data () {
      	return {
      		searchTerm: ''
      	}
    },
    watch: {
    	searchTerm (old, val) {
    		this.$store.commit('SEARCH_TERM', {
    			term: this.searchTerm
    		})
    	}
    },
    computed: {
    	...mapState([
    		'term'
    	])
    },
    methods: {
      	back () {
        	this.$router.back()
      	}
    },
    mounted () {
    	this.searchTerm = String(this.term)
    }
}
</script>

<style></style>
