<template>
<div class="home">
	<div class="wrapper wrapper--lighter">
		<app-header
			:companyRoute="false"
			:showBack="false">
		</app-header>
		<div class="container bg-map">
			<div class="columns">
				<div class="column is-2">
					<left-bar></left-bar>
				</div>
				<div class="column is-8 home__company-column">
					<div class="title is-4 section-title">Company by Name</div>
					<vue-scrollbar classes="companies-wrapper"
						<ul class="companies">
							<router-link
							v-for="(entry, index) in results"
							:key="entry['source_id']"
							:to="{
								name: 'company',
								params: {
									id: index
								}
							}"
							tag="li"
							class="companies__link">
								<span class="companies__name title is-4">
									{{ entry['Source'] }}
								</span>
							</router-link>
						</ul>
					</vue-scrollbar>
				</div>
				<div class="column is-2">
					<right-bar></right-bar>
				</div>
			</div>		
		</div>
	</div>
</div>
</template>

<script>
import { mapState } from 'vuex'
import Header from './Header.vue'
import { triggerMap } from '../Utils' 
import LeftBar from './LeftBar.vue'
import RightBar from './RightBar.vue'

export default {
	name: 'Home',
	components: {
		'app-header': Header,
		'left-bar': LeftBar,
		'right-bar': RightBar
	},
	data () {
		return {
		}
	},
	computed: {
		results () {
			if (this.term.trim() === '') {
				return this.entries.filter((entry) => typeof entry.Source === 'string')
			} else {
				return this.entries.filter((entry) => {
					if (typeof entry.Source === 'string') {
						return entry.Source.toLowerCase().indexOf(this.term.trim().toLowerCase()) > -1 
					} else {
						return false
					}
				})
			}
		},
		...mapState([
			'entries',
			'term'
		])
	},
	methods: {
		onScroll () {
			
		}
	},
	mounted () {
		triggerMap(document.querySelector('.home .container.bg-map'))
	}
}
</script>

<style></style>