<template>
	<div class="sidebar left-bar">
		<ul class="sidebar__list">
			<li>
				<router-link
				:to="{
	          		name: 'home'
	        	}"
				:class="{
					'icon icon--home': true
				}">
					<span>Home</span>
				</router-link>
			</li>			
			<li>
				<button
				@click="back"
				class="icon icon--back"
				>
					<span>Go back</span>
				</button>
			</li>
			<li>
				<button
				@click="forward"
				class="icon icon--forward"
				>
					<span>Go forward</span>
				</button>
			</li>
		</ul>
	</div>
</template>

<script>
export default {
	data () {
		return {}
	},
	methods: {
		back () {
			this.$router.go(-1)
		},
		forward () {
			this.$router.go(1)
		}
	}
}
</script>

<style></style>