<template>
	<div class="container loader">
		<div class="columns">
			<div class="is-half is-offset-one-quarter">
				<div class="message">
					<div class="message-body has-text-centered">
						<h1 class="subtitle">Please wait...</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {

}
</script>

<style></style>