<template>
<div class="module">
	<app-header
	:show-back="true"
	:company-route="{
		to: 'company',
		params: {
			id: this.$route.params.id
		}
	}"
	:company-name="entry.Source">
	</app-header>
	<div class="container">
		<section class="columns">
			<div class="column is-2">
				<left-bar></left-bar>
			</div>
			<div class="column is-8">
				<dropdown
				:initial="this.$route.params.moduleType"
				:options="chartTypes"
				@input="changeChart"
				></dropdown>

				<component
				v-if="currentChart !== false"
				:is="currentChart"
				:entry="entry"
				>
				</component>
				<div class="columns module__buttons-row">
					<div class="column is-half has-text-right">
						<router-link
						:to="{
							name: 'company',
							params: {
								id: $route.params.id
							}
						}"
						class="button is-primary">
							View Other Metrics
						</router-link>
					</div>
					<div class="column is-half is-offset-1">
						<router-link
						:to="{
							name: 'pdf-export',
							params: {
								id: $route.params.id
							}
						}"
						class="button is-primary">
							Export
						</router-link>
					</div>
				</div>
			</div>
			<div class="column is-2">
				<right-bar></right-bar>
			</div>
		</section>
	</div>
</div>
</template>

<script>
import Header from './Header.vue'
import Dropdown from './Dropdown.vue'
import PerformanceChart from './charts/Performance.vue'
import ExperienceEducationChart from './charts/ExperienceEducation.vue'
import OverallChart from './charts/Overall.vue'
import ResponseRateChart from './charts/ResponseRate.vue'
import LeftBar from './LeftBar.vue'
import RightBar from './RightBar.vue'


export default {
  	name: 'Company',
  	components: {
		'app-header': Header,
		'dropdown': Dropdown,
		'performance': PerformanceChart,
		'experience-education': ExperienceEducationChart,
		'overall': OverallChart,
		'response-rate': ResponseRateChart,
		'left-bar': LeftBar,
		'right-bar': RightBar
  	},
  	data () {
		return {
		  companyId: this.$route.params.id,
		  entry: {},
		  currentChart: false,
		  chartTypes: Object.keys(this.$store.state.chartTypes).map((key) => {
				return {
					value: key,
					text: this.$store.state.chartTypes[key]
				}
			})
		}
  	},
  	mounted () {
		this.entry = this.$store.state.entries[this.$route.params.id]
		this.currentChart = this.$route.params.moduleType
  	},
  	methods: {
  		changeChart (key) {
	  		this.$router.push({
				name: 'module',
				params: {
					id: this.$route.params.id,
					moduleType: key
				}
			})
			this.currentChart = key
  		}
  	}
}
</script>

<style></style>
