<template>
<div class="export">
	<app-header
	:show-back="true"
	:company-route="{
		to: 'company',
		params: {
			id: this.$route.params.id
		}
	}"
	:company-name="entry.Source">
	</app-header>
	<div 
	:class="{
		'container': true,
		'export--modal-open': isModalOpen
	}">
		<section class="columns">
			<div class="column is-2">
				<left-bar></left-bar>
			</div>
			<div class="column is-8">
				<div class="section-title">
					<div class="title is-4">Print / Export Preview</div>		
					<div class="control">
						<input type="checkbox" name="all" v-model="all" @click="toggleAll">
						<label for="all">Select All</label>
					</div>
				</div>
				
				<div class="columns">
					<div class="column is-half export__chart-select">
						<div class="columns">
							<div class="column is-9 export__chart-title">
								Performance for Top Jobs
							</div>
							<div class="column is-3">
								<div class="control">
									<input 
									type="checkbox" 
									value="performance"
									v-model="selectedCharts" />
									<label>Select</label>
								</div>
							</div>
						</div>
						<performance
						class="export__chart"
						id="chart-performance"
						:entry="entry"
						></performance>
					</div>
					<div class="column is-half export__chart-select">
						<div class="columns">
							<div class="column is-9 export__chart-title">
								Overall Performance
							</div>
							<div class="column is-3">
								<div class="control">
									<input 
									type="checkbox" 
									value="overall"
									v-model="selectedCharts">
									<label>Select</label>
								</div>
							</div>
						</div>
						<overall
						class="export__chart"
						id="chart-overall"
						:entry="entry"
						></overall>
					</div>
				</div>
				<div class="columns">
					<div class="column is-half export__chart-select">
						<div class="columns">
							<div class="column is-9 export__chart-title">
								Response Rate
							</div>
							<div class="column is-3">
								<div class="control">
									<input 
									type="checkbox" 
									value="response-rate"
									v-model="selectedCharts">
									<label>Select</label>
								</div>
							</div>
						</div>
						<response-rate
						class="export__chart"
						id="chart-response-rate"
						:entry="entry"
						></response-rate>
					</div>
					<div class="column is-half export__chart-select">
						<div class="columns">
							<div class="column is-9 export__chart-title">
								Experience & Education
							</div>
							<div class="column is-3">
								<div class="control">
									<input 
									type="checkbox" 
									value="experience-education"
									v-model="selectedCharts">
									<label>Select</label>
								</div>
							</div>
						</div>
						<experience-education
						class="export__chart"
						id="chart-experience-education"
						:entry="entry"
						></experience-education>
					</div>
				</div>
				<div class="columns export__button">
					<div class="column is-offset-5 is-4 has-text-right">
						<button
						:disabled="selectedCharts.length == 0"
						:class="{
							'button is-primary': true,
							'is-loading': isRendering
						}"
						@click="popCapture"
						>
							Export
						</button>
					</div>
				</div>
				<div class="export__printer">
					<div class="export__printer__wrapper">
						<div 
						class="export__rendered-chart print__page page-break"
						v-for="selectedChart in selectedCharts">
							<app-header
							:show-back="false"
							:company-route="{
								to: 'company',
								params: {
									id: $route.params.id
								}
							}"
							:company-name="entry.Source">
							</app-header>

							<section class="">
								<h2 class="section-title title">{{ $store.state.chartTypes[selectedChart] }}</h2>
								<div 
								:id="'rendered-' + selectedChart" 
								:class="[
									'export__rendered-placeholder',
									selectedChart
								]"></div>
							</section>
						</div>
					</div>
				</div>
			</div>
			<div class="column is-2">
				<right-bar></right-bar>
			</div>
		</section>
		<div :class="{
			'export__modal modal': true,
			'is-active': isModalOpen
		}">
			<div class="modal-background" @click="closeModal"></div>
		  	<div class="modal-content">
				<form action="" name="export__form" @submit.prevent="send()">
					<div class="columns">
						<div class="column is-6">
							<div class="control">
								<input type="text" required class="input" v-model="firstName" placeholder="First Name">
							</div>
						</div>
						<div class="column is-6">
							<div class="control">
								<input type="text" required class="input" v-model="lastName" placeholder="Last Name">
							</div>
						</div>
					</div>
					<div class="columns">
						<div class="column is-10">
							<div class="control">
								<input type="email" required class="input" v-model="email" placeholder="Email Address">
							</div>
						</div>
					</div>
					<div class="columns">
						<div class="column is-6 ">
							<input type="text" required class="input" v-model="companyName" placeholder="Company Name">
						</div>
						<div class="column is-6 ">
							<input type="text" class="input" v-model="phoneNumber" placeholder="Phone # (optional)">
						</div>
					</div>
					<div class="columns">
						<div class="column is-offset-9 is-3 has-text-right">
							<button :class="{
								'button is-primary export__form__send': true,
								'is-loading': isSending
							}">
								Submit
							</button>
						</div>
					</div>
				</form>
				<button class="modal-close" @click="closeModal"></button>
			</div>
		</div>
	</div>



</div>
</template>

<script>
import Header from './Header.vue'
import Dropdown from './Dropdown.vue'
import PerformanceChart from './charts/Performance.vue'
import ExperienceEducationChart from './charts/ExperienceEducation.vue'
import OverallChart from './charts/Overall.vue'
import ResponseRateChart from './charts/ResponseRate.vue'
import LeftBar from './LeftBar.vue'
import RightBar from './RightBar.vue'
import Axios from 'axios'
import PdfPrint from './PdfPrint.vue'
import Simg from 'Simg/src/simg.js'


export default {
  	name: 'PdfExport',
  	components: {
		'app-header': Header,
		'dropdown': Dropdown,
		'performance': PerformanceChart,
		'experience-education': ExperienceEducationChart,
		'overall': OverallChart,
		'response-rate': ResponseRateChart,
		'left-bar': LeftBar,
		'right-bar': RightBar,
		'pdf-print': PdfPrint
  	},
  	data () {
		return {
		  companyId: this.$route.params.id,
		  entry: false,
		  selectedCharts: [],
		  chartTypes: [
		  	'performance',
		  	'overall',
		  	'response-rate',
		  	'experience-education'
		  ],
		  all: false,
		  firstName: '',
		  lastName: '',
		  email: '',
		  companyName: '',
		  phoneNumber: '',
		  isModalOpen: false,
		  isSending: false,
		  isRendering: false,
		  shouldRender: true,
		  printComponent: false,
		  renderedHtml: ''
		}
  	},
  	beforeMount () {
		this.entry = this.$store.state.entries[this.companyId]
  	},
  	methods: {
  		popCapture () {
			this.isModalOpen = true
			this.selectedCharts.forEach((chart) => {
				document.getElementById('rendered-' + chart).innerHTML 

				let node = document.getElementById('chart-' + chart)
				let clone = node.cloneNode(true)
				clone.className = clone.className.replace('export__chart', '')
				
				// replace svg and canvas with img dataurl
				clone.querySelectorAll('svg').forEach((svg) => {
					let simg = new Simg.Simg(svg)
					simg.replace()
				})

				node.querySelectorAll('canvas').forEach((canvas, i) => {
					let img = new Image()
					img.src = canvas.toDataURL('image/png', 1)
					let cloneCanvas = clone.querySelectorAll('canvas')[i]
					console.log(cloneCanvas)
					cloneCanvas.parentNode.append(img)
				})
				clone.querySelectorAll('canvas').forEach((canvas) => {
					canvas.remove()
				})
					
				document.getElementById('rendered-' + chart).innerHTML = clone.innerHTML
			})
  		},
  		send () {
  			this.isSending = true
  			let self = this
  			Axios.post('/captures', {
  				capture: {
  					first_name: this.firstName,
  					last_name: this.lastName,
  					email: this.email,
  					phone_number: this.phoneNumber,
  					company_name: this.companyName,
  					pdf: document.querySelector('.export__printer__wrapper').innerHTML
  				}
  			})
  			.then((data) => {
  				self.isSending = false
  				self.$router.push({
  					name: 'success'
  				})
  			})
  			.catch((error) => {
  				self.isSending = false
  				self.$router.push({
  					name: 'success'
  				})
  			})
  			return false
  		},
  		toggleAll () {
  			this.selectedCharts = (this.all) ? this.chartTypes.slice(0) : []
  		},
  		closeModal () {
  			this.isModalOpen = false
  		},
  		renderReady (html) {
  			this.renderedHtml = html
  			console.log('render', html)
  		}
  	},
  	mounted () {
		let axiosDefaults = require('axios/lib/defaults');
		axiosDefaults.headers.common['X-CSRF-Token'] = document.querySelector('meta[name="csrf-token"]').getAttribute("content")
  	}
}
</script>

<style></style>
