<template>
<div class="print" :id="printId">
	<div class="wrapper">
		<div 
		v-if="charts.length > 0"
		v-for="chart in charts"
		class="print__page page-break "
		:id="chart"
		>
			<app-header
			:show-back="false"
			:company-route="{
				to: 'company',
				params: {
					id: $route.params.id
				}
			}"
			:company-name="internalEntry.Source">
			</app-header>
			<section 
			class=""
			>
				<h2 class="section-title title">{{ $store.state.chartTypes[chart] }}</h2>
				<component
				:is="chart"
				:entry="internalEntry"
				>
				</component>
			</section>
		</div>
	</div>
</div>
</template>

<script>
import Header from './Header.vue'
import PerformanceChart from './charts/Performance.vue'
import ExperienceEducationChart from './charts/ExperienceEducation.vue'
import OverallChart from './charts/Overall.vue'
import ResponseRateChart from './charts/ResponseRate.vue'
import Simg from 'Simg/src/simg.js'


export default {
  	name: 'PdfPrint',
  	components: {
		'app-header': Header,
		'performance': PerformanceChart,
		'experience-education': ExperienceEducationChart,
		'overall': OverallChart,
		'response-rate': ResponseRateChart,
  	},
  	props: ['entry', 'modules'],
  	data () {
		return {
			printId: 'print' + Date.now(),
			internalEntry: {},
			charts: [],
			chartsTotal: 0,
			chartsFlattened: 0,
			startedRender: false
		}
  	},
  	watch: {
  		chartsFlattened (old, val) {
  			if (val == this.chartsTotal) {
  				console.log('ready, emitting')
  				let html = document.getElementById(this.printId).innerHTML
  				this.$emit('rendered', {
  					html: html
  				})
  			}
  		}
  	},
  	beforeMount () {
		this.internalEntry = typeof this.entry === 'undefined' ? this.$store.state.entries[this.$route.params.id] : this.entry
		this.charts = this.getCharts()
  	},
  	mounted () {
  		if (this.charts.length > 0 && !this.startedRender) {
  			console.log('got charts', this.charts, this.internalEntry)
  			this.startedRender = true
			setTimeout(() => {
  				//this.renderCharts()
  			})
  		}
  	},
  	methods: {
  		getCharts () {
  			if (typeof this.modules !== 'undefined') {
  				return this.modules.slice(0)
  			} else {
  				// verify charts via url
  				let paramCharts = this.$route.params.modules.split(',')
  				if (typeof paramCharts !== 'object') 
  					return []

  				return paramCharts.filter((item) => {
  					return typeof this.$store.state.chartTypes[item] === 'string'
  				}).slice(0)	
  			}
  		},
  		renderCharts () {
  			this.chartsTotal = 0
  			this.chartsRendered = 0

  			let self = this
			self.chartsTotal = document.querySelectorAll('svg').length + document.querySelectorAll('canvas').length

				document.querySelectorAll('svg').forEach((svg) => {
					let simg = new Simg.Simg(svg)
					simg.replace()
					self.chartsFlattened++
				})

				document.querySelectorAll('canvas').forEach((canvas) => {
					let parent = canvas.parentNode
					let img = new Image()
					img.src = canvas.toDataURL('image/png', 1)
					parent.append(img)
					canvas.remove()
					self.chartsFlattened++
				})
	
  		},
  	}
}
</script>

<style lang="sass">
html, body, div
	overflow: visible

.print__page
	width: 1000px
	min-height: 100vh
	padding-bottom: 20px

.wrapper--hidden
	display: none

.columns 
	display: block
	clear: both
	margin: 0

.column
	float: none
	display: inline-block
	&.is-full
		display: block
		width: 650px
		margin: 0 auto
	&.is-half
		width: 45%
		padding: 0


.is-third
	width: 33% !important
	display: inline-block !important

.header
	margin-bottom: 0
	border-bottom: none

.header-company
	position: absolute
	top: 76px
	margin-top: 0

.page-break
    page-break-after: always
    page-break-inside: avoid
    page-break-before: avoid


</style>
