<template>
	<div class="sidebar right-bar has-text-right">
		<ul class="sidebar__list">
			<li>
				<div
				:class="{
					'icon icon--home2': true,
					'icon--active': $route.name == 'home'
				}">
					<span>Step 1: Home</span>
				</div>
			</li>			
			<li>
				<div
				:class="{
					'icon icon--briefcase': true,
					'icon--active': $route.name == 'company'
				}">
					<span>Step 2: Company</span>
				</div>
			</li>
			<li>
				<div
				:class="{
					'icon icon--chart': true,
					'icon--active': $route.name == 'module'
				}">
					<span>Step 3: Chart</span>
				</div>
			</li> 
			<li>
				<div
				:class="{
					'icon icon--export': true,
					'icon--active': $route.name == 'pdf-export'
				}">
					<span>Step 4: Export</span>
				</div>
			</li> 
		</ul>
	</div>
</template>

<script>
export default {
	data () {
		return {
			entry: false
		}
	},
	methods: {
		popCapture () {

		}
	},
  	mounted () {
  		if (typeof this.$route.params.id !== 'undefined') {
  			this.entry = this.$store.state.entries[this.$route.params.id]			
  		}
	}
}
</script>

<style></style>