<template>
	<div class="success">
		<app-header
		:companyRoute="false"
		:showBack="false"></app-header>
		<div class="success__wrapper">
			<div class="title is-3 success__message">Success!</div>
			<router-link
			:to="{
				name: 'home'
			}"
			class="button is-secondary title is-4">
				Done
			</router-link>
		</div>
	</div>
</template>

<script>
import Header from './Header.vue'

export default {
	components: {
		'app-header': Header
	},
	data () {
		return {}
	}
}	
</script>

<style></style>