<div class="columns">
  <div class="column is-4 is-offset-4 logo-wrapper">
    <%= image_tag("indeed_logo_white.png", class: "sign-in-logo", alt: "Indeed") %>
  </div>
</div>
<div class="columns sign-in-form">
  <div class="column is-4 is-offset-4">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %>
        <p class="control">
          <%= f.email_field :email, autofocus: true, class: "input is-large" %>
        </p>
      </div>
      <div class="field">
        <%= f.label :password %>
        <p class="control">
          <%= f.password_field :password, autocomplete: "off", class: "input is-large" %>
        </p>
      </div>
    <!--   <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%> -->

      <div class="actions">
        <%= f.submit "Sign in", class: "button is-large is-pulled-right" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
