@import "bulma";
@import "variables.scss";
@import "devise.scss";
@import "pages.scss";
@import "bulma.scss";

.hide{
  display: none !important;
}

.server-side.notification{
  margin-bottom: 0px !important;
  position: absolute;
  width: 100%;
  z-index: 3;
  border-radius: 1px;
}
