.devise-body{
  height: 100%;
  background-image: url('sign_in_background.jpg');
  background-size: cover;
  background-position: center;
  padding-bottom: 0;
  overflow: auto;
}

/*

SESSIONS - NEW

*/

.logo-wrapper{
  img{
    margin-top: 175px;
    max-width: 75%;
    margin-left: -35px;
    // float: right;
  }
}
.sign-in-form{
  label{
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: lowercase;
    margin-bottom: 10px;
    line-height: 2.75rem;
  }
  .button{
    background-color: $primary-orange;
    color: white;
    border: none;
    width: 40%;
    margin-top: 15px;
    font-size: 2rem;

    &:hover, &:active, &:visited{
      background-color: darken($primary-orange, 2.5%);
      color: darken(white, 2.5%);
    }
  }
}
