/*

DASHBOARD

*/

.dropzone {
  position: relative;
  border: 1px dashed $primary-gray-light;
  border-radius: 3px;
  color: $primary-gray;
  font-size: 2rem;
  height: auto;
  margin: 30px auto;
  text-align: center;
  width: 100%;
  // background: $primary-blue;
  padding-top: 50px;
  padding-bottom: 55px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);

  .button{
    margin-top: 20px;
  }
}

.dropzone.hover {
  // border: 4px solid $primary-orange;
  background: $primary-orange;
  color: white;
}

.dropzone.dropped {
  background: $secondary-green;
  // border: 5px solid #444;
}

.dropzone div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.dropzone img {
  border-radius: 5px;
  vertical-align: middle;
  max-width: 95%;
  max-height: 95%;
}

.dropzone [type="file"] {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.dashboard{
  height: 100%;
  font-family: $family-primary;
  margin-top: 0px !important;
  margin-bottom: 0px !important;

  .button.is-success {
    background-color: #2EB398;
  }
  .nav.is-dark {
    background-color: #232B2D;
    color: #F6F7F7;
  }
  .nav.is-dark .nav-item a, .nav.is-dark a.nav-item {
      color: #F6F7F7;
  }
  .nav.is-dark .nav-item a.button.is-default {
      color: #F6F7F7;
      background-color: transparent;
      border-width: 2px;
  }
  .aside {
    background-color: $primary-blue;
    margin-right: -10px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  .aside .main {
    padding: 40px;
    color: white;
    position: fixed;
  }
  .aside .title {
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  .aside .main .item {
    display: block;
    padding: 10px 0;
    color: white;
  }
  .aside .main .item.active {
    color: white;
    text-decoration: underline;
    font-weight: bold;
  }
  .aside .main .icon {
    font-size: 19px;
    padding-right: 30px;
  }
  .aside .main .name {
    font-size: 16px;
    font-weight: bold;
  }
  .admin-panel {
    padding-bottom: 0;
  }
  .content {
    display: block;
    background-color: #fff;
    padding: 40px 20px;
  }
  .hero .tabs ul {
      border-bottom: 1px solid #d3d6db;
  }
  .hero{
    .hero-body{
      .subtitle a{
        color: $primary-orange;

        &:hover{
          color: #363636;
        }
      }
    }
  }
}

.admin-panel{
  border-top: 18px solid $primary-blue;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding-right: 0px !important;

  .main-section-wrapper{
    padding: 0px 20px 40px;

    .panel{
      border-radius: 3px;
      box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);
    }
  }
}
.dataTables_wrapper.dt-bulma{
  width: 100%;
  margin: 25px 15px;
}
.table{
  margin: 25px 15px;
  width: calc(100% - 30px) !important;
}
.edit_user{
  p.help{
    margin-bottom: 25px;
  }
}
