// colors

$primary-blue: #2164f3;
$primary-orange: #ff6600;
$primary-orange-light: rgba($primary-orange, .5);
$primary-white: #ffffff;
$primary-gray: #666666;
$primary-gray-light: rgba(#666666, .4);
$primary-gray-lighter: rgba(#666666, .2);

$secondary-blue: #0000cc;
$secondary-skyblue: #99ccff;
$secondary-purple: #551a8b;
$secondary-violet: #cd29c0;
$secondary-green: #008040;
$secondary-yellow: #ffb100;

// fonts

$family-primary: 'Helvetica Neue Regular', Helvetica, 'Segoe UI', sans-serif;
$family-primary-light: 'Helvetica Neue Light';
$family-primary-bold: 'Helvetica Neue Bold';

// other

$brand-margin: 38px;

// overwrite bulma

$primary: $primary-blue;
