Name: <%= @first_name %> <%= @last_name %> <br>

Phone Number: <%= @phone_number %> <br>

Email: <%= @email %> <br>

Company Name: <%= @company_name %> <br>

PDF: <a href="<%= @pdf %>">Click here</a> <br>
