<template>
  <div id="app" class="app-wrapper">
    <div 
    class="app-loading" 
    v-if="!isEntriesLoaded">
      Loading...
    </div>
    <router-view></router-view>  
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'app',
  computed: mapState([
    'isEntriesLoaded'
  ])
}
</script>

<style lang="sass">
@import 'assets/styles/main.sass'

.app-loading
  position: fixed
  top: 20px
  right: 20px
</style>
