.company__subtitle
	border-bottom: solid 1px $primary-blue
	color: $primary-black
	padding: 10px
	display: block
	font-family: $family-primary-bold
	transition: color .3s ease
	position: relative
	.icon
		width: 30px
		height: 38px
		position: absolute
		right: 0
		bottom: 5px
		&.icon--pencil
	    	right: -5px

.company-button 
	width: 100%;
	margin-bottom: 20px
	text-align: left
	background-color: $primary-blue
	color: $primary-white
	font-family: $family-primary-light
	padding: 20px
	font-size: 18px
	width: 100%
	border: none
	display: flex
	align-items: center
	justify-content: flex-start
	transition: color .2s ease, background-color .2s ease
	&:hover, &:active, &:focus
		color: $primary-white
		background-color: $primary-orange
		border: none
	&:visited
  		color: $primary-white

.company-button__number
	font-family: $family-primary-bold
	font-size: 90px;
	line-height: 80px;
	margin-right: 15px;
	margin-left: 5px;

.company-button__name
	font-size: 20px
	line-height: 20px
	font-family: $family-primary-bold

.company__title
	margin-top: 20px

.dropdown
  margin-bottom: 60px

.chart-canvas
	position: relative
	z-index: 10

@media (min-width: $tablet) 
	.company__title
		margin-top: 53px