.dropdown
	color: $primary-gray-light
	font-family: $family-primary-bold
	font-size: 16px
	cursor: pointer
	position: relative
	z-index: 30

.dropdown-current
	height: 40px
	line-height: 40px
	border-bottom: solid 1px $primary-blue
	padding-left: 15px

.dropdown-arrow
	width: 30px
	height: 40px
	float: right
	background: url(~images/icon-triangle.png) 100% 50% no-repeat 
	background-size: 15px 13px
	margin-left: 15px

.dropdown.toggled
	.dropdown-arrow
		transform: rotate(180deg)
		background-position: 0 50%

.dropdown-options 
	position: absolute
	left: 0
	top: 40px
	width: 100%
	li 
		height: 40px
		line-height: 40px
		border-bottom: solid 1px $primary-white
		background-color: $primary-blue
		color: $primary-white
		padding: 0 15px
		&:hover, &:focus, &:active, &.selected
			background-color: $primary-orange
