label 
	color: $primary-orange

.input 
	background-color: $primary-white
	color: $primary-blue

.button
	border-radius: 0
	font-family: $family-primary-bold
	padding-left: 20px
	padding-right: 20px
	padding-top: .3em
	padding-bottom: .3em

	&.is-primary
		background-color: $primary-blue
		color: $primary-white
		&:hover
			background-color: $primary-orange

	&.is-secondary
		background-color: $primary-orange
		color: $primary-white
		border: none

