.export
	padding-bottom: 60px
	.container
		position: relative
	.section-title 
		margin-bottom: 40px
		.title
			display: inline-block
			margin-bottom: 0
		.control
			float: right
			input[type="checkbox"] + label
				color: #000
	.control
		text-align: right
		input[type="checkbox"] + label
			font-size: 12px
			display: inline
			font-family: $family-primary-light
			color: #000
	button.is-primary
		font-family: $family-primary-bold
	.modal-content
		overflow: visible

.export__chart-title
	font-family: $family-primary-light

.export__chart
	zoom: .4

.export__modal
	position: absolute
	.modal-close
		position: absolute
		top: -50px
		right: -15px
		bottom: auto
		left: auto
		&:before, &:after
			background-color: $primary-blue
		&:hover
			background-color: transparent
			&:after, &:before
				background-color: $primary-orange


.export--modal-open
	.sidebar a span
		color: transparent

.export__form
	.columns
		margin-bottom: 0

.export__form__send
	font-size: 20px

.export__printer
	overflow: hidden
	width: 0
	height: 0

.export__printer__wrapper
	width: 1000px
	min-height: 4000px

.column.export__chart-select
	display: flex
	flex-direction: column
	justify-content: space-between
	margin-bottom: 20px

.export__button
	margin-top: 20px

