@font-face 
  font-family: 'Helvetica Neue Light'
  src: url('~fonts/HelveticaNeueLTStd-Lt.eot')
  src: url('~fonts/HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype'), url('~fonts/HelveticaNeueLTStd-Lt.woff2') format('woff2'), url('~fonts/HelveticaNeueLTStd-Lt.woff') format('woff'), url('~fonts/HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-Lt') format('svg') 
  font-weight: 300 
  font-style: normal
  font-stretch: normal
  unicode-range: U+0020-00FE

@font-face
  font-family: 'Helvetica Neue Regular'
  src: url('~fonts/HelveticaNeueLTStd-Md.eot')
  src: url('~fonts/HelveticaNeueLTStd-Md.eot?#iefix') format('embedded-opentype'), url('~fonts/HelveticaNeueLTStd-Md.woff2') format('woff2'), url('~fonts/HelveticaNeueLTStd-Md.woff') format('woff'), url('~fonts/HelveticaNeueLTStd-Md.svg#HelveticaNeueLTStd-Md') format('svg')
  font-weight: 500
  font-style: normal
  font-stretch: normal
  unicode-range: U+0020-00FE

@font-face 
  font-family: 'Helvetica Neue Bold'
  src: url('~fonts/HelveticaNeueLTStd-Bd.eot')
  src: url('~fonts/HelveticaNeueLTStd-Bd.eot?#iefix') format('embedded-opentype'), url('~fonts/HelveticaNeueLTStd-Bd.woff2') format('woff2'), url('~fonts/HelveticaNeueLTStd-Bd.woff') format('woff'), url('~fonts/HelveticaNeueLTStd-Bd.svg#HelveticaNeueLTStd-Bd') format('svg')
  font-weight: 700
  font-style: normal
  font-stretch: normal
  unicode-range: U+0020-00FE

// font awesome

$fa-font-path: "~font-awesome/fonts"
@import "~font-awesome/scss/font-awesome.scss"
