body
	min-height: 100vh

h1, h2, h3, h4, h5, h6 
	font-family: $family-primary-bold

h2
	color: $primary-orange
	font-family: $family-primary-bold
	font-size: 26px
	line-height: 26px
 
h3
	color: $primary-gray-light
	font-family: $family-primary-bold  
	font-size: 16px
	line-height: 16px

h4
	color: $primary-gray-light

button
	background: none
	box-shadow: none
	border: none

.input, .textarea
	border-radius: 1px
	color: $primary-blue
	font-size: 16px

.title
	font-family: $family-primary-bold
	color: $primary-blue
	 
.app-wrapper
	min-height: 100vh   

.wrapper
	min-height: 100vh

.wrapper--lighter
	color: $primary-gray
	background-color: #ebeef0

.bg-map
	background: url(~images/bg-dots-once.gif) center center no-repeat 
	min-height: calc(100vh - 180px)
	background-size: contain

.section-title
	color: $primary-blue
	border-bottom: solid 1px $primary-orange
	padding-bottom: 10px
	margin-bottom: 10px

.modal-background
	background-color: rgba(255, 255, 255, .7)

.align-center
	align-items: center

.content-top
	padding-top: 48px 
