.header 
	background-color: $primary-white
	border-top: solid 18px $primary-blue
	border-bottom: solid 2px $primary-gray-lighter
	margin-bottom: $brand-margin
	> .container > .columns
		margin-bottom: 0


.header-logo 
	display: inline-block
	margin: $brand-margin $brand-margin $brand-margin -16px

.header-company
	display: block
	margin-top: 68px
	margin-left: 20px

.header-back
	margin-top: 68px
	width: 100%

.search-box
	.input
		border-radius: 0
	span.icon i
		margin-top: 8px
