.home__company-column
	padding-top: 40px

.companies-wrapper
	min-height: 50vh
	width: 100%
	margin-top: 50px


.companies__link
	padding-top: 10px
	padding-bottom: 10px
	cursor: pointer
	&:not(:last-child)
		border-bottom: solid 1px $primary-blue

.companies__name
	font-family: $family-primary-bold
	color: $primary-gray-light

.companies__view
	float: right
	text-transform: uppercase
	color: $primary-blue

.companies__link:hover
	.companies__view
		color: $primary-orange 

