.icon
	width: 54px
	height: 54px
	display: inline-block
	background-repeat: no-repeat
	background-position: 50% 50%
	background-size: 100%

.icon--home
	background-image: url(~images/icon-home.png)
	&:hover, &:active, &:focus, &.icon--active
		background-image: url(~images/icon-home-active.png)
	
.icon--back
	background-image: url(~images/icon-back.png)
	&:hover, &:active, &:focus, &.icon--active
		background-image: url(~images/icon-back-active.png)

.icon--forward
	background-image: url(~images/icon-forward.png)
	&:hover, &:active, &:focus, &.icon--active
		background-image: url(~images/icon-forward-active.png)

.icon--home2
	background-image: url(~images/icon-home2.png)
	&.icon--active
		background-image: url(~images/icon-home2-active.png)

.icon--briefcase
	background-image: url(~images/icon-briefcase.png)
	&.icon--active
		background-image: url(~images/icon-briefcase-active.png)

.icon--chart
	background-image: url(~images/icon-chart.png)
	&.icon--active
		background-image: url(~images/icon-chart-active.png)

.icon--export
	background-image: url(~images/icon-export.png)
	&.icon--active
		background-image: url(~images/icon-export-active.png) 
 
.icon--pencil
	background-image: url(~images/icon-pencil.png)
	background-size: 100% auto

.icon--document
	background-image: url(~images/icon-document.png) 
	background-size: 100% auto


