.sidebar
	position: relative
	z-index: 2000

.sidebar__list 
	li
		.icon
			background-size: auto 100%
			display: block
			transition: color .3s ease
			color: transparent
			font-size: 12px
			color: transparent
			display: flex
			align-items: center
			width: 100%
			transition: background-image .3s ease, color .3s ease
			&.icon--active
				color: $primary-gray
		&:not(:last-child)
			&:after
				content: ""
				display: block
				width: 1px
				height: 34px
				background-color: $primary-gray-lighter
				margin: 5px 0 5px 25px 

.left-bar 
	margin-top: 90px
	.sidebar__list
		.icon
			padding-left: 56px
			background-position: 0 0
			cursor: pointer
			justify-content: flex-start
			padding-left: 62px

.right-bar 
	margin-top: 60px
	.sidebar__list
		li:not(:last-child)
			&:after
				margin: 5px 25px 5px 0 
				float: right
		.icon
			padding-right: 56px
			background-position: 100% 0
			span
				text-align: right
			&.icon--briefcase
				span
					margin-left: -10px



