.success .header
	margin-bottom: 0

.success__wrapper
	background: 
	min-height: 100vh
	padding-top: $brand-margin
	background: $primary-blue url(~images/bg-dots-gray.png) 50% 50% no-repeat
	background-size: 100% auto
	color: $primary-white
	display: flex
	align-items: center
	justify-content: center
	flex-direction: column

.success__message
	display: inline-block
	color: $primary-white


