<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <%= wicked_pdf_stylesheet_link_tag "application" -%>
    <%= stylesheet_link_tag wicked_pdf_asset_base64("bundle") %>
    <style>
      html,
      body{
        background: white;
        padding-top: 0 !important;
      }
      .hide-on-pdf-export,
      #hide-on-pdf-export,
      button,
      .empty-text-element{
        display: none !important;
      }
/*      svg{
        display: block;
        margin: 0 auto;
      }*/
      .columns, header{
        padding-left: 35px !important;
        padding-right: 35px !important;
      }
      .print__page{
        height: 8.5in;
        width: 11in;
        margin: 0 !important;
        padding: 0 !important;
      }
      .section-title{
        padding-left: 1in;
        padding-top: 0.25in;
        padding-bottom: 0.25in;
      }
      .header-logo{
        padding-left: 0.175in;
        opacity: 1;
      }
      .router-link-active{
        opacity: 1;
      }
      .column.is-4.has-text-right{
        width: 2.125in;
        text-align: right;
        margin-left: 7.75in;
      }
      .header-company{
        /*width: 100%;*/
        text-align: right;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
